.relative  {
  position: relative;
  margin-bottom: 15vh;
}

.container {
  display: flex; 
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding-left: 1.5rem;
  padding-right: 1.5rem; 
  justify-content: space-between; 
  align-items: center; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid #D1D5DB;
}

.heading {
  font-size: 1.125rem;
  line-height: 1.75rem; 
  font-weight: 800;
  text-decoration: none;
  color: #333;
}

.navigationLink {
  display: block; 
  font-size: 1.15em;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin: 1em;
  cursor: pointer;
}

.navigationLink:hover {
  color: #666;
}

.options {
  display: none; 
  margin-left: 0.5rem; 
  justify-content: center; 
  align-items: center; 
}

.menuOption {
  cursor: pointer;
  position: relative;
}

.menu {
  font-size: 1.125rem;
  line-height: 1.75rem; 
}

.invisible {
  display: none;
}

@media (min-width: 768px) { 
  .container {
    padding-left: 200px;
    padding-right: 200px;
  }

  .heading {
    font-size: 1.25rem;
    line-height: 1.75rem; 
  }

  .options {
    display: flex; 
    margin-left: 1rem; 
  }

  .menu {
    display: none;
  }
}